extends layout
block content
    script.
        var socket = io.connect()

        socket.on('connect', function(data) {
            console.log("Connected!");
        })
        var deviceIdGlobal = "#{device.id}";

        function buttonClicked(deviceId, compId, compName, state){
            console.log("button clicked");
            var buttonJson = {};
            buttonJson.deviceId = deviceId;
            buttonJson.componentId = compId;
            buttonJson.componentName = compName;

            if(state == "1")
            {
                stateFinal = "true";
            }
            else{
                stateFinal = "false"
            }
            socket.emit("dataFromWebpage", stateFinal);
        }

    h1 #{device.id}
    
    for comp in device.components
        
        .col-lg-3
            if comp.component_type == "button"
                +button(comp)
            else if comp.component_type == "light"
                +light(comp)
            else
                p The component failed to match a defined type
    .row
    