extends layout

block content
    h1 Dashboard
    -var device = [{component_type:"button", name:"myButton", method: "mymethod", props: {text:"Click me", size: "5"} },{component_type: "colorbutton", name: "myButton2", method: "mymethod7", props: {text:"Click me25", color: "blue"} }]
    for data in device
        if data.component_type == "button"
            +button(data)
        else if data.component_type == "colorbutton"
            +colorButton(data)
        else
            p The componot failed to match a defined type