extends layout

block content
  h1(id="title" style=light ? "color:green" : "color:red")= title
  p Welcome to #{title}
  p List: #{list}

  div(id="future")
    form(id="chat_form")
      input(id="chat_input" type="text")
      input(type="submit" value="Send")

  script(type='text/javascript').
    var light = $('#title').css("color") == "green" ? true : false;
    var socket = io.connect()

    socket.on('connect', function(data) {
    })

    socket.on('lightChanged', function(data) {
        light = data;
        var color = data ? "green" : "red";
        $('#title').css("color", color);
        $('#future').append("Toggled from board"+ "<br/>");
    });

    $('form').submit(function(e){
      e.preventDefault();
      $('#future').append("Toggled from client"+ "<br/>");
      var color = !light ? "green" : "red";
      $('#title').css("color", color);
      socket.emit('toggleFromPage', !light);
      light = !light;
    });
