doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/node_modules/jquery/dist/jquery.js')
  body
    block content
