extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form(method='POST' action='/users/login')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          .row  
           button.col-sm-3.button.btn.btn-primary(type='submit') Log in 
           .col-sm-3
           .col-sm-3
           a.col-sm-3.a.btn.btn-primary(href="/register") Register
