extends layout

block content
  h1 View all data sent to the server

  div(id="future")
    
  script(type='text/javascript').
    
    var socket = io.connect()

    socket.on('connect', function(data) {
      console.log("client connected");
    })

    socket.on('dataToTest', function(data) {
        $('#future').append("Data: "+ JSON.stringify(data) + "<br/>");
    });

   