extends ../mixins/layout
block content    
    
    -
        var data = deviceList;
        

    +grid({
    dataSource: deviceList,
    columns: [
        {
        key: 'id',
        title: 'Device Id'
        },
        {
        key: 'name',
        title: 'Device Name',    
        cellTemplate: (props) => {
            return `
            <a href="ControlPortal?device=${props.id}">${props.id}</a>
            `;
        }
        },
        {
        key: 'status',
        title: 'Device Status',
        headCellClass: ['u-align-right'],
        cellClass: ['u-align-right'],
        cellTemplate: (props) => {
            return `
            <code style="color: #6d7e8c">${props.owner_email}</code>
            `;
        }
        },
    ]
    })


     
     
         
               
          
          