extends ../mixins/layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Register
        form#register-form(method='POST' action='api/users')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          div.form-group
            label(for='username') Username
            input.form-control(type='text' id='username' placeholder='username' name='username')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          div.form-group
            label(for='passwordConf') Password Confirmation
            input.form-control(type='password' id='passwordConf' placeholder='password' name='passwordConf')
          .row
            p#error-msg(style="color: red;")
          button#submit-register.btn.btn-primary(type='submit') Submit
  script.
    $("#submit-register").click(function(event){
      event.preventDefault();

      $.post( "api/users", $('#register-form').serialize())
        .done(function() {
          window.location = "/login";
        })
        .fail(function() {
          $("#error-msg").html("Failed to register. Please enter valid information.");
        })
    });
        
