extends ../mixins/layout

block content
  script.
    $("#test-input-nav").toggleClass("active", true);
  h1 Test Input
  p Send data to the defined listener

  div(id="future")
    form(id="chat_form")
      label listener: 
      br
      select#event_listener
        option register
        option eventFromDevice
        option eventToDevice
        option testData
      br
      label data: 
      br
      input(id="data_input" type="text" style="width:800px" value="")
      input(type="submit" value="Send")

  
  div(id="log")

  script(type='text/javascript').
    var socket = io.connect();

    socket.on('connect', function(data) {
      console.log("client connected");
    })

    socket.on('dataToTest', function(data) {
        $('#log').append(""+ JSON.stringify(data) + "<br/>");
    });

    $('form').submit(function(e){
      e.preventDefault();
      console.log($("#event_listener").val());
      socket.emit($("#event_listener").val(), $('#data_input').val());
    });

    let exampleJson = {
      register        : { "email":"ryan@ryan.com", "password": "ryan", "id":"dev33", "components": [{"component_type":"button", "id":"1", "props": {"text":"Click me"} },{"component_type": "light", "id":"2", "props": {"state":"1"} }]},
      eventFromDevice : { "id": "dev33", "component_id": "2", "props": [{ "propName": "state", "propValue": "0" }] },
      eventToDevice   : { "id": "dev33", "component_id": "2", "value": "1" },
      testData        : "4"
    }

    $('#data_input').val(JSON.stringify(exampleJson[$('#event_listener').val()])); 

    $('#event_listener').on('change', function(){
     $('#data_input').val(JSON.stringify(exampleJson[$('#event_listener').val()])); 
    });
